# Firmware
photon_firmware*
argon_firmware*
# Folders
/.vscode
/build
/debug

# Prerequisites
*.d

# Doxygen
/html
/latex

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Media Files
*.doc*
*.png
*.jpg
*.xmind

.vscode


# OrCAD Files
#/doc/Bilag/03 Diagrammer/Hardware*

*.dbk
/doc/Bilag/03_Diagrammer/Hardware - Electrical Schematic/*.txt
/doc/Bilag/03_Diagrammer/Hardware - Electrical Schematic/*.ps
/doc/Bilag/03_Diagrammer/Hardware - Electrical Schematic/*PSpice*
/doc/Bilag/03_Diagrammer/Hardware - Electrical Schematic/*olblck
/doc/Bilag/03_Diagrammer/Hardware - Electrical Schematic/*dsnlck
/doc/Bilag/03_Diagrammer/Hardware - Electrical Schematic/*mrk
/doc/Bilag/03_Diagrammer/Hardware - Electrical Schematic/*sim
*.OBK
*.PRP
*CapOutput.ps
*.crswap

# Do not include Weather API Key
OWM_API_key.h
